* {
    box-sizing: border-box;
}

#board, .boardInfo {
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo {
    font-size: 25px;
}

#gameOver {
    display: none;
    font-size: 100px;
    color: red;
    position: absolute;
    top: 200px;
    left : auto;
    right: auto;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color:crimson;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: darkslateblue;
}

.snakeSquare {
    background-color: greenyellow;
}

.foodSquare {
    background-color:orangered;
}


























